<div class="widget-wrap">
    <h3 class="widget-title">Recent Posts</h3>
    <div class="widget">
        <ul class="links-of-recent-posts-list">
        {%- set posts = site.posts %}
        {%- if posts %}
        {%- for post in posts.sort('date', 'desc').toArray().slice('0', '10') %}
            <li class="links-of-recent-posts-item">
            {{ next_url(post.path, post.title, {title: post.path}) }}
            </li>
        {%- endfor %}
        {%- endif %}
        </ul>
    </div>
</div>

<div class="widget">
    <picture>
        <source type="image/webp" srcset="{{ theme.icons }}computchem/bg.webp">
        <source type="image/jpeg" srcset="{{ theme.icons }}computchem/bg.jpg">
        <img loading="lazy" src="{{ theme.icons }}bg.jpg" alt="Background" width="500" height="332">
    </picture>
</div>

<div class="widget">
    <p><a href="http://www.beian.miit.gov.cn/">沪ICP备18023061号-1</a></p>
    <p><a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=31009102000069">
    <picture>
        <source type="image/svg+xml" srcset="{{ theme.icons }}beian/beian.svg">
        <source type="image/png" srcset="{{ theme.icons }}beian/beian.png">
        <img loading="lazy" src="{{ theme.icons }}beian/beian.png" alt="Beian" width="20" height="20" style="display:inline;">
    </picture>
    沪公网安备 31009102000069号</a></p>
</div>
