<picture>
    <source type="image/webp" srcset="{{ theme.icons }}computchem/header{{ imgid(page) }}.webp">
    <source type="image/jpeg" srcset="{{ theme.icons }}computchem/header{{ imgid(page) }}.jpg">
    <img loading="lazy" id="banner" src="{{ theme.icons }}computchem/header{{ imgid(page) }}.jpg" class="header-image" width="1080" height="281" alt="Tong Zhu Research Group">
</picture>
