<div class="widget-wrap">
    <h3 class="widget-title">Recent Posts</h3>
    <div class="widget">
        <ul class="links-of-recent-posts-list">
        {%- set posts = site.posts %}
        {%- if posts %}
        {%- for post in posts.sort('date', 'desc').toArray().slice('0', '10') %}
            <li class="links-of-recent-posts-item">
            {{ next_url(post.path, post.title, {title: post.path}) }}
            </li>
        {%- endfor %}
        {%- endif %}
        </ul>
    </div>
</div>

<div class="widget">
    <img src="https://cdn.jsdelivr.net/gh/tongzhugroup/tongzhugroup.github.io@7cebddef46c046a7a1119199002fe15b1c2dec24/tower.jpg" alt="" width="500" height="332">
</div>

<div class="widget">
    <p><a href="http://www.beian.miit.gov.cn/">沪ICP备18023061号-1</a></p>
    <p><a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=31009102000069"><img loading="lazy" class="alignnone wp-image-740 size-full" src="https://cdn.jsdelivr.net/gh/tongzhugroup/tongzhugroup.github.io@7cebddef46c046a7a1119199002fe15b1c2dec24/beian.png" alt="" width="20" height="20" style="display:inline;">沪公网安备 31009102000069号</a></p>
</div>