@media screen and (min-width: 600px) {
	.main, .footer {
		padding: 0 24px;
		padding: 0 1.714285714rem;
		margin: 0 auto;
		max-width: 960px;
		max-width: 68.571428571rem;
		overflow: hidden;
		box-shadow: 0 2px 6px rgba(100, 100, 100, 0.3);
	}
}
@media screen and (min-width: 960px) {
	body .main {
		padding: 0 40px;
		padding: 0 2.857142857rem;
	}
}
.main {
	margin-top: 48px;
	margin-top: 3.428571429rem;
}
.main, .footer{
	max-width: 960px;
	overflow: hidden;
	padding: 0 40px;
	box-shadow: none;
}

body {
    background-image: url(https://cdn.jsdelivr.net/gh/tongzhugroup/tongzhugroup.github.io@7cebddef46c046a7a1119199002fe15b1c2dec24/bg.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.brand {
  background: #fff;
  color: #000;
  padding: 0 0;
}

.site-title{
  font-weight: bold!important;
}

.brand:hover {
  color: #21759b;
}

.site-meta, .menu, .sidebar-inner, .post-title {
	text-align: left;
}

.site-nav {
	display: block;
}

.post-meta {
	justify-content: left;
}

.header-inner {
    padding-top: 1.714285714rem;
	width: 100%;
}

.main-menu{
    border-bottom: 1px solid #ededed;
    border-top: 1px solid #ededed;
	padding: 0.714285714rem  0;
}

.menu .menu-item{
	margin: 0 20px 0 0;
	display: inline-block;
}

.header-image {
    margin-top: 24px;
    margin-top: 1.714285714rem;
    border-radius: 3px;
    box-shadow: 0 1px 4px rgba(0,0,0,.2);
}
.header-image, .widget img {
	max-width: 100%;
	height: auto;
}

.headband, .site-author, .sidebar-toggle, .site-nav-toggle, .site-nav-right, .sidebar, .copyright{
	display: none;
}

@media screen and (min-width: 600px) {
	.footer{
		display: none;
	}
	.main-inner{
		float: left;
		width: 65.104166667%;
	}
	.sidebar{
		display: flex;
		position: static;
		float: right;
		width: 26.041666667%;
	}
}

.main-inner{
	padding: 0;
	margin: 0 auto;
}

.main, .sidebar, .footer{
	background-color: #fff;
}

.sidebar{
	box-shadow: none;
}

.sidebar-panel-container{
	max-height: none;
}

.footer-inner{
	text-align: left;
}

.widget{
	margin-bottom: 3.428571429rem;
}

.widget ul{
	list-style: none;
	padding-inline-start: 0;
}

.widget-title {
	font-size: 11px;
    font-size: .785714286rem;
    line-height: 2.181818182;
    font-weight: 700;
    text-transform: uppercase;
    color: #636363;
}

.widget li{
	font-size: 13px;
    font-size: .928571429rem;
    line-height: 1.846153846;
}

article img:not([data-loaded$="true"]){
    padding-bottom: 61.8%;
}
